.error-message-container {
  background-color: #ffffff;
  height: 65px;
  margin-bottom: 5px;
  margin-top: -10px;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}

@keyframes error {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #ff0000;
  }
  100% {
    background-color: #e2231a;
  }
}

.error-message-container.error {
  background-color: #e2231a;
  animation: error 3.5s;
}

.error-message-container h3 {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.error-message-container .error-button {
  border: 0px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.error-message-container .error-button:focus {
  outline: none;
}
